mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.tollbar{
  max-width: 98%;
  margin: auto;
}

.full-width{
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.form-array-error {
  text-align: left;
}
